h1 Sign In
form(method="POST",action="/session/signin")
  p
    label(for="phone") Phone <br />
    input#phone(name="phone")
  p
    label(for="password") Password <br />
    input#password(type="password",name="password")
  p
    input(type="submit",value="Sign In")