h1 删除文物
ul
  - antiques.forEach(function(antique){
    li
      antique.name
      form(action="/antiques/" + encodeURIComponent(antique.name),method="POST")
        input(name="_method",type="hidden",value="DELETE")
        input(type="submit",value="DELETE")
  - })