h1= user.username
h4= user.phone
- if(user.email){
    h4= user.email
- }
p
  a(href='/user/coNews') 我收藏的新闻&nbsp
  a(href='/user/coArticles') 我收藏的文章&nbsp
  a(href='/user/edit') 修改密码&nbsp
  a(href='/user/edit') 编辑资料