h1= user.username
h4= user.phone
- if(user.email){
    h4= user.email
- }
p
  a(href="/news") 主页
li
  a(href='/user/coNews') 我收藏的新闻&nbsp
li
  a(href='/user/coArticles') 我收藏的文章&nbsp
li
  a(href='/user/modifyPassword') 修改密码&nbsp
li
  a(href='/user/editInformation') 编辑资料
li
  a(href='/user/portrait') 更换头像