h1 更换头像

form(method='POST', action='/user/portrait', enctype='multipart/form-data')
    input(name='file', id='file',type='file', multiple='mutiple')
    button(name='btnUp', id='file',type='submit') upload