p
  a(href="/managers/main") 主页
h1 删除文章
ul
  - articles.forEach(function(article){
    li
      form(action="/articles" + encodeURIComponent(article._id),method="DEL")= article.title
        input(name="_method",type="hidden",value="DELETE")
        input(type="submit",value="DELETE")
  - })