p
  a(href="/managers/main") 主页
h1 创建新的文章
form(method="POST",action="/articles")
  p
    label(for="author") 作者<br />
    input#author(name="author")
  p
    label(for="title") 标题<br />
    input#title(name="title")
  p
    label(for="body") 正文<br />
    textarea#body(name="body")
  p
    label(for="rate") 推荐指数<br />
    input#rate(name="rate")
  p
    input(type="submit",value="提交")