h1 管理员管理页面
h3 文物管理
p
  a(href="/antiques") 查看文物&nbsp
  a(href="/antiques/new") 新增文物&nbsp
  a(href="/antiques") 删除文物&nbsp
h3 文章管理
p
  a(href="/articles/manager") 查看文章&nbsp
  a(href="/articles/new") 新增文章&nbsp
  a(href="/articles/del") 删除文章&nbsp
h4 新闻管理
p
  a(href="/news/manager") 查看新闻&nbsp
  a(href="/news/create") 新增新闻&nbsp
  a(href="/news/del") 删除新闻&nbsp