h5
  在主页中管理员点击删除文物，
  将会跳转到这个页面，
  点击文物的名称，
  将会跳转到文物的详情界面
p
  a(href="/managers/main") 主页
h1 删除文物
ul
  - antiques.forEach(function(antique){
    li
      a(href="/antiques/manager" + encodeURIComponent(antique.ID))= antique.name
  - })