这是管理员使用的文物管理页面
h1 文物管理
p
  a(href="/managers/main") 主页
ul
  - antiques.forEach(function(antique){
    li
      a(href="/antiques/manager" + encodeURIComponent(antique.ID))= antique.name
  - });
h5
  这是管理员使用的文物管理界面,
  在这个页面中,
  管理员点击文物的名称可以跳转到detail,
  在那个页面中将可以看到文物的详情