h1 删除新闻
ul
  - news.forEach(function(onenews){
    li
      onenews.title
      form(action="/news/" + encodeURIComponent(onenews._id),method="POST")
        input(name="_method",type="hidden",value="DELETE")
        input(type="submit",value="DELETE")
  - })