h1 我的游记
p
  a(href="/travels/new") 创建新的游记
h3 游记列表
ul
  - Travels.forEach(function(travel){
    li
      a(href="/travels" + encodeURIComponent(travel._id))=travel.title
  - })
p
  a(href="/travels/del") 删除游记